<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FD</title>
</head>
<body>
<h1>CKAN - Frictionless Data</h1>

{#<p></p>#}


<h2>REST interface</h2>
<h3>GET</h3>
<ul>
    <li>list_all/ - view all json in the CKAN</li>
    <li>search?q={string} - search within CKAN</li>
    <li>convert?q={ckan-dataset-id} - convert CKAN dataset json to datapage json</li>
    <li>package_json?q={ckan-dataset-id} - download CKAN dataset json to datapage.json file</li>
</ul>

</body>
</html>